config/database.yml
config/sunspot.yml
config/resque.yml
*.swp
.bundle
.sass-cache/
.rvmrc
log/
uploads/
downloads/
tmp/
sunspot-solr.pid
public/coverage
redis/redis-local.conf
redis/dump.rdb
var/
httpd/
pgsql/
public/assets/
public/mime_type_cat_icons/
vendor/bundle
solr/*
solr/conf/*
!solr/conf
!solr/conf/schema.xml
