config/database.yml
config/sunspot.yml
config/resque.yml
*.swp
.bundle
.sass-cache/
log/
uploads/
downloads/
tmp/
sunspot-solr.pid
public/coverage
redis/redis-local.conf
redis/dump.rdb
var/
db/development_structure.sql
httpd/
pgsql/
public/assets/
public/mime_type_cat_icons/
solr/
