<%= form_for @stored_file, :url => "/bulk_edits", :method => "POST" do |f| %>

  <p>Note: Only fields that can be updated in all files are shown as editable below.</p>

  <% @stored_files.each do |stored_file| %>
    <%= hidden_field_tag "stored_file_ids[]", stored_file.id %>
  <% end %>

  <%= render "stored_files/form", :f => f %>  
  
  <%= f.submit "Update #{@stored_files.count} files" %> 
<% end %>
