<h3>Refine</h3>

<% @facets.each do |facet| -%>
  <%= facet[:label] %><br />
  <% facet[:links].each do |link| %>
	<% if link[:remove] -%>
      <%= link[:label] %>
      (<%= link_to "remove", link[:url] %>)
    <% else -%>
      <%= link_to link[:label], link[:url] %>
    <% end -%>
    <br />
  <% end %>
<% end -%>
