<label>File Type</label>
<select id="mime_type">
	<option></option>
<% if @facets && @facets[:mime_hierarchy] -%>
	<% @facets[:mime_hierarchy].each do |opt| %>
	<%= content_tag :option, raw(opt[:label]),
		:value => opt[:id],
		"data-class" => opt[:class] %>
	<% end -%>
<% else -%>
	<% MimeTypeCategory.all.each do |mtc| %>
		<%= content_tag :option, mtc.name,
			:value => mtc.id,
			"data-class" => "mime_type_category_id" %>
		<% mtc.mime_types.each do |mt| %>
			<%= content_tag :option, raw("&nbsp;&nbsp;" + mt.name),
				:value => mt.id,
				"data-class" => "mime_type_id" %>
		<% end %>
	<% end -%>
<% end -%>
</select>
