<% if @facets -%>
	<% if @facets[:indexed_tag_list] -%>
		<label>Browse Popular Tags</label><br />
		<% @facets[:indexed_tag_list].each do |tag| %>
		<%= link_to tag[:label], tag[:url] %>
		<% end -%>
	<% end -%>
<% else -%>
	<label>Browse Popular Tags</label><br />
	<% StoredFile.tag_list.each do |tag| %>
	<%= link_to tag.name, search_path("indexed_tag_list[]" => tag.name) %>
	<% end -%>
<% end -%>
