<label>Browse Popular Tags</label><br />

<% if @facets && @facets[:indexed_tag_list] -%>
	<% @facets[:indexed_tag_list].each do |tag| %>
   		<%= link_to tag[:label], tag[:url] %>
	<% end -%>
<% else -%>
	<% Tag.tag_list.each do |tag| %>
	<%= link_to tag.name, search_path("indexed_tag_list[]" => tag.name) %>
	<% end -%>
<% end -%>
