<section id="filter">
<%= render 'search/filter' %>
</section>

<% flash.each do |key, msg| -%>
    <div id="form_error"><%= flash[key] %></div>
<% end -%>

<section class="right" id="groups">
	<p id="response"></p>
	<hgroup>
		<h3>Manage Groups</h3>
		<ul><li><%= link_to 'Create group', new_group_path, :remote => true %></li></ul>
	</hgroup>
	<table cellpadding="5" cellspacing="0" width="100%">
		<tr> 
			<th>Groups</th>
			<th>Status</th>
			<th>Created</th>
			<th>Modified</th>
		</tr>
        <%= render :partial => "group", :collection => @groups %>
		<% if @groups.empty? %>
    		<tr id="empty_groups"><td>You don't belong to or own any groups.</td></tr>
		<% end %>
	</table>
	<hgroup>
	</hgroup>
</section>
