<section id="filter" style="width: 550px;">
<div id="panel">	

<h3>Zone One Configuration</h3>

<%= form_tag "/admin/update" do %>
<table class="admin_table">
  <% @preferences.each do |preference| -%>
    <tr>
    <td><label><%= preference.label %></label> </td>
    <td><%= text_field :preference, preference.name, { :value => preference.value } %> </td>
    </tr>
  <% end -%>
<tr>
  <td colspan="2"><%= submit_tag "Update" %></td>
</tr>
</table>
<% end -%>

</div>
</section>
