<h4 id="sftp_toggler">SFTP Upload</h4>
<fieldset id="sftp">
		<p>Basic instructions here.</p>
		<div id="sftp_form_div">
			<%= label_tag :sftp_username %>: 
			<%= text_field_tag :sftp_username, '', {:id => 'sftp_username', :readonly => 'readonly'} %><br/>
			<%= label_tag :sftp_password %>: 
			<%= text_field_tag :sftp_password, '', {:id => 'sftp_password', :readonly => 'readonly'} %>
		</div>
</fieldset>
