<h4 id="sftp_toggler">SFTP Upload</h4>

<fieldset id="sftp">
<ol id="sftp_instructions">
    <li>Login to the SFTP server with the below username/password</li>
    <li>Use SFTP to upload your large files or entire directories</li>
    <li>Once you're done uploading through SFTP, click the &quot;Start Upload&quot; button to the left.</li>
    <li>The files you uploaded via SFTP will be imported into Zone 1 in the background, and associated with the metadata you've entered on this page</li>
</ol>
	<div id="sftp_form_div">
		<%= label_tag :username %>: 
		<%= text_field_tag :sftp_username, '', {:id => 'sftp_username', :readonly => 'readonly'} %><br/>
		<%= label_tag :password %>: 
		<%= text_field_tag :sftp_password, '', {:id => 'sftp_password', :readonly => 'readonly'} %>
	</div>
</fieldset>
