<% content_for :head do -%>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="/javascripts/plupload/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/plupload/plupload.js"></script>
<script type="text/javascript" src="/javascripts/plupload/plupload.html5.js"></script>
<script type="text/javascript" src="/javascripts/plupload/plupload.html4.js"></script>
<script type="text/javascript" src="/javascripts/plupload/plupload.flash.js"></script>
<script type="text/javascript" src="/javascripts/plupload/jquery.ui.plupload/jquery.ui.plupload.js"></script>
<script type="text/javascript" src="/javascripts/upload_helper.js"></script>
<style type="text/css">
  .plupload_header {display: none;}
</style>
<% end -%>

<fieldset>
   <legend>File Upload Data:</legend>

	<%= form_for @stored_file, :url => "/stored_files", :html => {:id => :upload_data} do |f| %>
		<%= hidden_field_tag 'temp_batch_id', @temp_batch_id %>
		<%= render "form", :f => f %>
	<% end %>

    <div id="uploader">
		<p>Failed to initialize the upload tool. Not to point fingers, but perhaps you are using a very old browser that is unsupported?</p>
	</div>
</fieldset>
