#results #panel h3 {
  text-transform: uppercase;
  padding: 6px 15px;
  margin-top: 0;
  color: #323232;
  background: #b4b4b4;
}

.admin_table {
    padding: 5px;
}

.admin_table tr.even {
/* background: none repeat scroll 0 0 #FFFFFF; */
}

.admin_table th {
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
}

