#quick_edit_panel { 
  display: none;
  position: absolute;
  background: #FFF; 
  border: 1px solid #999; 
  padding: 20px;
  #meta_data {
    span { 
      display: block;
    }
  }
}

#bulk-edit {
  input { display: none; }
}

#download-set {
  input { display: none; }
}

#results .flags input { margin: 0px; }
.list {
  #list { text-decoration: none; }
  .file { 
    float: none;
    width: 100%;
    .icon { display: none; }
  }
}
.thumb {
  #thumb { text-decoration: none; }
  .menu { display: none; }
  .file {
    float: left;
    width: 100px;
    padding: 0px 20px 20px 0px;
    .size, .tags, .date, .batch { display: none; }
    .filename, .author { display: block; }
  }
}
